@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Barlow:wght@700&family=Croissant+One&family=Dancing+Script:wght@600&family=Kaisei+HarunoUmi:wght@700&family=Kalnia&family=Libre+Baskerville:ital@1&family=Montserrat:ital@1&family=Mulish:wght@200;400&family=Open+Sans&family=PT+Sans:ital@1&family=Playfair+Display:ital,wght@0,400;1,400;1,700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Kalnia', serif;
}